<template>
  <div class="result">
    <label :for="id" class="result__label">{{ label }}</label>
    <input
      :id="id"
      ref="numResult"
      type="text"
      class="result__textbox"
      :value="modelValue"
    />
    <button
      class="result__button"
      @click.prevent="copyToClipboard($refs.numResult.value)"
    >
      Copy
    </button>
  </div>
</template>

<script>
export default {
  name: "Result Field",
  props: {
    modelValue: String,
    label: String,
    id: String,
  },
  methods: {
    copyToClipboard(value) {
      navigator.clipboard.writeText(value);
    },
  },
};
</script>

<style lang="scss">
$color-purple: #5e5df0;

.result {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  margin: 0 0 2em 0;

  &__label,
  &__textbox,
  &__button {
    flex: 1 1 100%;
    margin: 0 0 1em 0;
    font-size: 1em;
  }

  &__label {
    flex: 0 0 33%;
  }

  &__textbox {
    flex: 1 1 1%;
    width: 100%;
    padding: 0.25em;
    text-align: center;
    border: {
      top: 0;
      right: 0;
      bottom: 0.125em solid #000;
      left: 0;
    }

    &:active {
      outline: 0.125em solid $color-purple;
    }
  }

  &__button {
    background: $color-purple;
    border-radius: 2em;
    box-shadow: $color-purple 0 0.625em 1.25em -0.625em;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5em;
    outline: 0 solid transparent;
    padding: 0.5em 1.125em;
    border: 0;
  }
}
</style>
