<template>
  <div>
    <h1>Matriculation Number Converter</h1>
    <h2>Version 0.1</h2>
    <h3>(Vue version)</h3>

    <div class="user-input">
      <label for="user-input" class="user-input__label">Input</label>
      <input
        class="user-input__textbox"
        id="user-input"
        type="text"
        placeholder="Matriculation number"
        v-model="matNumInput"
      />
    </div>

    <mat-num-result label="Full Number" id="full-num" v-model="fullNum" />
    <mat-num-result label="Short Number" id="short-num" v-model="shortNum" />
    <mat-num-result label="Split Number" id="split-num" v-model="splitNum" />
  </div>
</template>

<script>
import MatNumResult from "@/components/Result.vue";

export default {
  name: "Matriculation Number Converter",
  components: {
    MatNumResult,
  },
  data() {
    return {
      matNumInput: "108 123 45678901",
    };
  },
  computed: {
    shortForm() {
      const num = this.matNumInput.trim().replaceAll(" ", "");
      return num.length < 9;
    },
    /**
     * Parses the matNumInput
     *
     * @returns {Object} The mat number as an object
     */
    matNum() {
      /*
        mat num format

        ex: aaa bcc deeeeeee

        aaa:   num of uni
        b:     student status
        cc:    year of enrollment
        d:     semester of enrollment year
        e...e: student id
      */

      // remove any and all spaces to normalize string
      const num = this.matNumInput.trim().replaceAll(" ", "");

      // slice normalized string into separate properties
      const uniNum = num.length < 9 ? "108" : num.slice(0, 3);
      const status = num.length < 9 ? "0" : num.slice(3, 4);
      const entryYear = num.length < 9 ? num.slice(0, 2) : num.slice(4, 6);
      const semester = num.length < 9 ? num.slice(2, 3) : num.slice(6, 7);
      const studentId = num.length < 9 ? num.slice(3) : num.slice(7);

      return {
        uniNum,
        status,
        entryYear,
        semester,
        studentId,
      };
    },

    /**
     * @returns {String} The whole mat number as one long concatenated string
     */
    fullNum() {
      return Object.values(this.matNum).join("");
    },

    /**
     * @returns {String} The mat number beginning with the year of enrollment
     */
    shortNum() {
      if (Object.values(this.matNum).join("").length < 9) {
        return Object.values(this.matNum).join("");
      }

      return Object.values(this.matNum).slice(2).join("");
    },

    /**
     * @returns {String} The whole mat number, but nicely formatted
     */
    splitNum() {
      return `${this.matNum.uniNum} ${this.matNum.status}${this.matNum.entryYear} ${this.matNum.semester}${this.matNum.studentId}`;
    },
  },
};
</script>

<style lang="scss">
$color-purple: #5e5df0;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

.user-input {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  margin: 3.5em 0;

  &__label,
  &__textbox {
    flex: 1 1 100%;
    font-size: 1em;
  }

  &__label {
    flex: 0 0 33%;
  }

  &__textbox {
    flex: 1 1 1%;
    width: 100%;
    padding: 0.25em;
    text-align: center;
    border: {
      top: 0;
      right: 0;
      bottom: 0.125em solid #000;
      left: 0;
    }

    &:active {
      outline: 0.125em solid $color-purple;
    }
  }
}
</style>
